	#wrap {
		width:1200px;
		height:1000px;
	}
	#side_left{
		width:200px;
		height:350px;
		float:left;
		background:orange;
		margin:50px 50px;
		text-align: center;
	}
	#side_left ul li{
		margin-bottom:20px;	
		
	}
	#side_left ul li a{
		width:200px;
		height:15%;
		font-size:20px;
		font-weight:bold;
				
	}
	#contents{
		width:800px;
		height:1000px;
		margin:0 auto;
		float:left;
		padding:0;
	}
	ul li a{
		color:black;
		text-decoration: none;
	}