	#wrap {
		width:1200px;
		height:1000px;
	}
	#side_left{
		width:200px;
		height:350px;
		float:left;
		background:orange;
		margin:50px 50px;
		text-align: center;
	}
	#side_left ul li{
		margin-bottom:20px;	
		
	}
	#side_left ul li a{
		width:200px;
		height:15%;
		font-size:20px;
		font-weight:bold;
				
	}
	#contents{
		width:800px;
		height:500px;
		margin:0 auto;
		float:left;
		padding:0;
		background:beige;
	}
	ul li a{
		color:black;
		text-decoration: none;
	}
	
	#write_btn{
		margin-bottom:5px;
	}
	
	/*테이블 관련 css  */
		table{
		margin:0 auto;
		width:600px;
		border-collapse: collapse;
/* 		30 200 200 70 */
	}
	td, th{
		border: 1px solid lightgray;
		text-align:center;
		padding:5px;
	}
	th{
		background:gray;
		color:#fff;
	}
	#no{
		width:80px;
	}
	#title{
		width:200px;
	}
	#fileName{
		width:200px;
	}
	#regDate{	
		width:120px;
	}