@charset "UTF-8";



#page-wrapper {
    padding-left: 250px;
    background: #3D5A5B
  }

#sidebar-wrapper {
    position: absolute;
    width: 250px;
    margin-left: -250px;
    background: beige;
    overflow-x: hidden;
    overflow-y: auto;
   
  }
  
  #page-content-wrapper {
    width: 100%;
    padding: 20px;
    margin-left: 200px;
    background-color: #3D5A5B
  }
  
     .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
  }

  
  #page-content-wrapper {
    width: 100%;
    padding: 20px;
    margin-left: 200px;
  }
  
  #foo{
  background-color: #3D5A5B;
	padding-top: 20px;
  }
#foo p{
  color: white;
}  
	